API_BASE_URL="https://api-example:port.com"
TEST_USER="example@test.com"
TEST_PASS="example123"
TEST_PIN: "1234",
APP_ANDROID_PATH="./apps/app-example.apk"
APP_IOS_PATH="./apps/app-example.ipa"
GLOBAL_TIMEOUT=30000 # Dev might be slower